*, * * {
  margin: 0;
  padding: 0;
  position: relative;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
}

#root {
  font-family: sans-serif;
}

.header {
  background-color: #373737;
  padding: 20px;
  width: 100%;

  h1 {
    color: white;
  }
}

.debugger {
  padding: 10px;
}

.controls {
  display: flex;
  flex-direction: row;
}

.cpuStateWrapper {
  border: 1px solid #373737;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;

  div {
    margin: 10px;
  }
}

.value-list-item {
  list-style: none;
}

.monospace {
  font-family: monospace;
}

.active {
  color: red;
}

.control-section {
  align-items: center;
  display: flex;
  margin-bottom: 10px;
  padding: 10px;

  * {
    margin: 5px;
  }
}

button {
  border-radius: 5px;
  box-shadow: 1px 1px 1px 0 #6e6e6e;
  border-width: 1px;
  font-size: 14px;
  min-width: 100px;
  padding: 10px;
  transition: 0.025s;

  &.active {
    background-color: darkgreen;
    box-shadow: 1px 1px 2px 0 #6e6e6e inset;
    color: white;
    font-size: 13px;
  }

  &:active {
    box-shadow: 1px 1px 2px 0 #6e6e6e inset;
    font-size: 13px;
    outline: none;
  }

  &:focus {
    outline: none;
  }
}

.slider {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  span {
    margin-top: -5px;
  }
}
